/* TODO: answer here */

body {
  margin: 0;
  font-family:Helvetica, sans-serif;
  background-image: url(bg.jpg);
  color: #fff;

}

.menu {
  margin-left: 65px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
}

.menu ul {
  margin-right: 10px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 5px;
}

.menu a {
  display: block;
  color: black;
  background-color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}
nav ul li a:hover {
  color: blue;
  text-decoration: underline;
}

.title {
  color: white;
}

#home {
  display: flex;
  border-radius: 20px;
  /* background-color: white; */
  margin: 48px;
  margin-bottom: 400px;
  padding: 10px;
  justify-content: center;
  background-size: cover;
  background-attachment: fixed;
}

#home img {
  border-radius:20%;
  margin-right: 36px;
}

form {
  flex-wrap: wrap;
  margin-left: 100px;
  font-weight: bold;
  line-height: 1.6;
  align-content: center;
}

.btn-next {
  color: white;
  background-color: white;
  border: 1px solid black;
  border-radius: 7px;
  padding: 7px;
}


section{
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more{
  position: relative;
  width: 800px;
  height: 550px;
  backdrop-filter: blur(25px);
  background: rgba(255,255,255,0.1);
  box-shadow: 0 25px 45px rgba(0,0,0,0.25);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 30px;
}
.top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  border-bottom: 1px solid #d5cccc24;
}
.top span{
  font-size: 20px;
  margin-left: 20px;
}

.top p{
  position: absolute;
  top: 50px;
  right: 15px;
  background: rgba(0,0,0,0.15);
  padding: 10px 20px;
  border-radius: 10px;
  opacity: 0;
  transition: .5s ease-in-out;

}

.middle{
  display: flex;
  flex-direction: row;
  padding: 20px 30px 0px 30px;
}



@media screen and (max-width: 800px) {
}
